{% extends 'base.html.twig' %}

{% block title %}Measurement index{% endblock %}

{% block body %}
    <h1>Measurement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Celcius</th>
               <th>Pressure</th>
                <th>Windspeed</th>
                <th>Rain</th>
                <th>Humidity</th>
                <th>Is_sunny</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for measurement in measurements %}
            <tr>
                <td>{{ measurement.id }}</td>
                <td>{{ measurement.date ? measurement.date|date('Y-m-d') : '' }}</td>
                <td>{{ measurement.celcius }}</td>
                <td>{{ measurement.pressure }}</td>
                -<td>{{ measurement.windspeed }}</td>
                <td>{{ measurement.rain }}</td>
                <td>{{ measurement.humidity }}</td>
                <td>{{ measurement.isSunny ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_measurement_show', {'id': measurement.id}) }}">show</a>
                    <a href="{{ path('app_measurement_edit', {'id': measurement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_measurement_new') }}">Create new</a>
{% endblock %}
